<h1>Modify </h1>
<form action="/songs/<%= @song.slug %>" method="post">
   <input type="hidden" id="hidden" value="patch" name="_method">
  <label for="Name">Name</label>
  <br>
  <input type="text" name="song[name]" id="Name" value="<%= @song.name %>">



  <li>
    <% Genre.all.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.name %>"
            <%= "checked" if @song.genres.include?(genre) %>
        ><%= genre.name %>
    <% end %>
  </li>
  <p>Or, create a new artist </p>
  <input type="text" name="artist[name]" id = "Artist Name">
  <br>
  <p>Select an existing artist</p>
  <li>
    <% Artist.all.each do |artist| %>
      <input type="checkbox" name="song[artist][name]" id="<%=artist.name%>" value="<%=artist.name%>"
         <%= "checked" if @song.artist == artist %>
      ><%=artist.name%>
    <% end %>
  </li>

  <input type="submit" name="Save" value="Save">
<h1><%= @song %></h1>
</form>
