
#rewrite as helper method

<form  action="/songs/:slug/edit" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h2>Fill out this form to edit song</h2>


  <label for="Name">Song Name: </label>
  <input type="text" name="song[name]" id="Name">

  <h2> Update the artist for this song</h2>
  <h3>Artists</h3>

  <% sorted_artists = Artist.all.sort_by{|artist| artist.name.downcase}%>
  <% sorted_artists.each do |artist| %>
    <input id="<%= artist.name %>" type="checkbox" name="artist[name]" value="<%= artist.name %>">
    <label for="artist_name"><%= artist.name %></label>
    <br>
  <% end %>

  <label for="artist">Artist Name: </label>
  <input type="text" name="artist[name]" id="Artist Name">

  <br>
  <h2>Update the genre for this song</h2>
  <h3>Genres</h3>

  <% sorted_genres = Genre.all.sort_by{|genre| genre.name.downcase}%>
  <% sorted_genres.each do |genre| %>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.name %>">
    <label for="genre_name"><%= genre.name %></label>
    <br>
  <% end %>

  <label for="genre">Genre Name: </label>
  <input type="text" name="genres[name]" id="Genre Name">

  <br>
  <br>
  <input type="submit" id="Edit">
