<h1>Create a new song </h1>
<form action="/songs" method="post">
  <label for="Name">Name</label>
  <br>
  <input type="text" name="song[name]" id="Name" value="Name">

  <p>Or, create a new artist </p>

  <li>
    <% @genres.each do |genre| %>
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
    <% end %>
  </li>
  <!-- <input type="checkbox" id = "Hippity Hop" name="song[genres][]"><p>Hippity Hop</p>
  <input type="checkbox" id = "New Age Garbage" name="song[genres][]"><p>New Age Garbage:</p> -->
  <input type="text" name="artist[name]" id = "Artist Name">
  <br>
  <p>Select an existing artist</p>
  <li>
    <% @artists.each do |artist| %>
      <input type="checkbox" name="[artist][name]" id="<%=artist.name%>" value="<%=artist.id%>"><%=artist.name%>
    <% end %>
  </li>

  <input type="submit" name="Create" value="Create">
<h1><%= @song %></h1>
</form>
