<h1>Successfully created song.</h1>
<h1 id="song_name" name="<%=@song.name%>">About <%=@song.name%></h1>

<p>Artist:</p>
<a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a>

<br>
<p>Genres:</p>
<li>
<% @song.genres.each do |genre| %>

<a href="/genres/<%=genre.slug%>"><%=genre.name%></a>
<%end%>
</li>
