<h3>Song Name:</h3>
<h1> <%= @song.name if @song %></h1>

  <% if @artist %>
    <h3>Artist Name: <a href="/artists/<%=@artist.slug%>"><%= @artist.name%></a></h3>
  <% end %>

  <% if @song %>
    <% @song.genres.each do |genre| %>
      <h3>Genre Name: <a href="/genres/<%=genre.slug%>"><%= genre.name %></a> </h3>
    <% end %>
  <% end %>
